
<h1>Welcome to RockPaperScissors</h1>

<p>To play this game, all you need to know is <b>ROCK PAPER and SCISSORS</b>.</p>

<p>Choose carefully... you only get one try!</p>

<br/>

<h2>Pick a throw:<h2>

<% (0..2).each do |throw| %>
  <%= link_to image_tag("rock_paper_scissors/#{throw}.jpeg"), rock_paper_scissor_path(throw) %>
<% end %>